.grid {
	display: grid;
	grid-template-columns: repeat(8, min-content);
	justify-items: center;
	gap: 10px;
}

.item {
	background-image: var(--bgimg);
	background-position: var(--bg-x) var(--bg-y);
	width: var(--icon-width);
	height: var(--icon-height);
	aspect-ratio: 1;
}
